## Datos Nuevos para teste

In [15]:
import pandas as pd
import numpy as np
import pickle
client_approved = [2,"Graduate","No",9600000,29900000,12,700,2400000,17600000,22700000,8000000]
client_approved

[2,
 'Graduate',
 'No',
 9600000,
 29900000,
 12,
 700,
 2400000,
 17600000,
 22700000,
 8000000]

In [16]:
client_rejected = [5,"Graduate","Yes",1000000,2300000,12,317,2800000,500000,3300000,800000]
client_3 = [0,"Not Graduate","Yes",3300000,11300000,20,559,4200000,2900000,11000000,1900000]

In [17]:
columns = ['N_Dependientes','Educación','Trabajador_Autonomo','Ingresos_Anuales','Valor_Préstamo',
           'Plazo_Préstamo','Pontuación_Crédito','Valor_Activos_Residenciales','Valor_Activos_Comerciales',
           'Valor_Activos_Lujo','Valor_Activo_Bancário']

df_approved = pd.DataFrame([client_approved,client_rejected,client_3], columns=columns)

In [18]:
df_approved

,N_Dependientes,Educación,Trabajador_Autonomo,Ingresos_Anuales,Valor_Préstamo,Plazo_Préstamo,Pontuación_Crédito,Valor_Activos_Residenciales,Valor_Activos_Comerciales,Valor_Activos_Lujo,Valor_Activo_Bancário
0,2,Graduate,No,9600000,29900000,12,700,2400000,17600000,22700000,8000000
1,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000
2,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000

In [19]:
df_approved = df_approved.values

In [20]:
df_approved

array([[2, 'Graduate', 'No', 9600000, 29900000, 12, 700, 2400000,
        17600000, 22700000, 8000000],
       [5, 'Graduate', 'Yes', 1000000, 2300000, 12, 317, 2800000, 500000,
        3300000, 800000],
       [0, 'Not Graduate', 'Yes', 3300000, 11300000, 20, 559, 4200000,
        2900000, 11000000, 1900000]], dtype=object)

## One Hot Encoder

In [21]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [22]:
with open("one_hot_encoder.pkl", "rb") as f:
    one_hot_encoder_prestamo = pickle.load(f)

In [23]:
df_approved = one_hot_encoder_prestamo.transform(df_approved)

In [24]:
df_approved

array([[1.0, 0.0, 1.0, 0.0, 2, 9600000, 29900000, 12, 700, 2400000,
        17600000, 22700000, 8000000],
       [1.0, 0.0, 0.0, 1.0, 5, 1000000, 2300000, 12, 317, 2800000,
        500000, 3300000, 800000],
       [0.0, 1.0, 0.0, 1.0, 0, 3300000, 11300000, 20, 559, 4200000,
        2900000, 11000000, 1900000]], dtype=object)

## Escalador estándar

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
with open("scaler.pkl", "rb") as f:
    scaler_prestamo = pickle.load(f)

In [27]:

df_approved = scaler_prestamo.transform(df_approved)

In [28]:
df_approved

array([[ 0.99693937, -0.99693937,  1.00686155, -1.00686155, -0.2937337 ,
         1.61470382,  1.62968072,  0.19232546,  0.58235264, -0.80344422,
         2.87290346,  0.82791784,  0.9259495 ],
       [ 0.99693937, -0.99693937, -0.99318521,  0.99318521,  1.4757615 ,
        -1.45361789, -1.4256388 ,  0.19232546, -1.64106947, -0.74143923,
        -1.02143836, -1.30544028, -1.29004169],
       [-1.00307003,  1.00307003, -0.99318521,  0.99318521, -1.47339716,
        -0.63302023, -0.42933896,  1.59378982, -0.23619179, -0.52442175,
        -0.47486407, -0.45869505, -0.95148748]])

## Cargar Modelo

In [29]:
with open("model_aprendizaje.sav", "rb") as f:
    random_forest_prestamo = pickle.load(f)

In [30]:
random_forest_prestamo.predict(df_approved)

array(['Approved', 'Rejected', 'Approved'], dtype=object)